<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Moving Pictures</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Moving Pictures</title>
</head>

<body>
  <section id="hero">
    <div>
      <header>
        <h1>Moving Pictures</h1>
      </header>
    </div>
  </section>


  <section>
    <main>
      <nav>
        <a href=""><strong></strong></a>

      </nav>
    </main>
  </section>






{{#each instruments}}
  <div>
    <h2>{{this.product_name}}</h2>
    <p>Price: {{this.price}}</p>
    <p>Stock: {{this.stock}}</p>
    <img src="/images/{{this.image}}" alt="{{this.product_name}} Image" width="300" height="600">
  </div>
{{/each}}






  </div>
</body>

</html>