<div>
  <h2>{{product_name}}</h2>
  <p>Price: {{price}}</p>
  <p>Stock: {{stock}}</p>
  <img src="/images/{{image}}" alt="{{instrument.product_name}} Image" width="300" height="600">
  <p>{{description}}</p>
</div>
