<div class = "inst-body">
<div class = "container inst-display">
 <div class = "row">
   <div class = "col-6 inst-img-name">
     <h2>{{product_name}}</h2>
     <img src="/images/{{image}}" alt="{{instrument.product_name}} Image" width="300" height="600">
    </div>
  <div class = "col-6 inst-psd">
     <h3>Price: {{price}}</h3>
     <h3>Stock: {{stock}}</h3>
     <p>{{description}}</p>
  </div>
 </div>
</div>
</div>