
<div class = "text-center">
  <h2>{{product_name}}</h2>
  <h3>Price: {{price}}</h3>
  <h3>Stock: {{stock}}</h3>
  <img src="/images/{{image}}" alt="{{instrument.product_name}} Image" width="300" height="600">
  <p>{{description}}</p>
</div>
